* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #020617;
  color: #e5e7eb;
  font-family: 'Inter', Arial, sans-serif;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Fundo com imagem */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("../img/nasa-realistic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* ⬅️ ISSO FAZ OCUPAR TODA A TELA */

  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}


header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  color: #4fc3f7;
  font-weight: 700;
  text-transform: uppercase;
}

.idiomas button {
  margin: 10px 5px;
  padding: 6px 14px;
  cursor: pointer;
}

.form-container,
.resultado,
.tabela-container {
  background: #111827;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #1f2937;
}

#formBusca {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data-campos {
  display: flex;
  gap: 8px;
}

.data-campos input {
  width: 80px;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #374151;
  background: #1f2937;
  color: white;
}

button {
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  background: #4fc3f7;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #29b6f6;
}

.limpar {
  background: #f59e0b;
  margin-bottom: 10px;
}

.resultado img {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #1f2937;
}

th {
  color: #4fc3f7;
}

.excluir {
  background: #ef4444;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
}

.excluir:hover {
  background: #dc2626;
}